/*! 
*237px;
*/
.content-animated {
  width: 90%;
  font-size:30px;
  line-height:40px;
  color:#ecf0f1;
  height:40px;
  position:absolute;
  margin-bottom:50%;
  left:50%;
  margin-top:-15px;
  margin-left:-170px;
  
  &:before {
    content:'[';
    position:absolute;
    left:-30px;
    line-height:40px;
  }
  &:after {
    content:']';
    position:absolute;
    right:-30px;
    line-height:40px;
  }
  &:after, &:before {
    color:#16a085;
    font-size:42px;
    animation:2s linear 0s normal none infinite opacity;
    -webkit-animation:2s ease-out 0s normal none infinite opacity;
    -moz-animation:2s ease-out 0s normal none infinite opacity;
    -o-animation:2s ease-out 0s normal none infinite opacity;
  }
}

.visible-animated {
	width: 90%;
  float:left;
  font-weight:600;
  overflow:hidden;
  height:45px;   
}

p.animated {
  display:inline;
  float:left;
  margin-right:10px ;
  font-size: 30px;
}

ul.animated {
  margin-top:0;
  padding-left:110px;
  text-align:left;
  list-style:none;
  animation:6s linear 0s normal none infinite change;
  -webkit-animation:6s linear 0s normal none infinite change;
  -moz-animation:6s linear 0s normal none infinite change;
  -o-animation:6s linear 0s normal none infinite change;
}

ul.animated li.animated {
  line-height:40px;
  margin:0;
}

@media (max-width: 768px) { 
  p.animated {
  	font-size: 25px;
  }
  
  li.animated {
  	margin-top: 0px !important; 
   }

  .visible-animated {
		margin-left: 25px; 
	}

	@media (max-width: 768px) { 
  .content-animated {
    font-size: 25px;
  }
}

/* IPHONE */
@media (max-width: 320px) { 
  p.animated {
  	font-size: 20px;
  }
  
  li.animated {
  	margin-top: -2px !important; 
   }

  .visible-animated {
		margin-left: 45px; 
	}

	@media (max-width: 768px) { 
  .content-animated {
    font-size: 20px;
  }
}


@-webkit-keyframes opacity {
  0%   {opacity:0;}
  50%  {opacity:1;}
  100% {opacity:0;}
}
@keyframes opacity {
  0%   {opacity:0;}
  50%  {opacity:1;}
  100% {opacity:0;}
}

@-webkit-keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-40px;}
  40%  {margin-top:-40px;}
  50%  {margin-top:-80px;}
  65%  {margin-top:-80px;}
  75%  {margin-top:-40px;}
  85%  {margin-top:-40px;}
  100% {margin-top:0;}
}
@keyframes change {
  0%   {margin-top:0;}
  15%  {margin-top:0;}
  25%  {margin-top:-40px;}
  40%  {margin-top:-40px;}
  50%  {margin-top:-80px;}
  65%  {margin-top:-80px;}
  75%  {margin-top:-40px;}
  85%  {margin-top:-40px;}
  100% {margin-top:0;}
}
